@include font-face(RepBd, "../../dist/fonts/RepBd", null, null, woff);
@include font-face(RepBdIt, "../../dist/fonts/RepBdIt", null, null, woff);
@include font-face(RepIt, "../../dist/fonts/RepIt", null, null, woff);
@include font-face(RepLt, "../../dist/fonts/RepLt", null, null, woff);
@include font-face(RepLtIt, "../../dist/fonts/RepLtIt", null, null, woff);
@include font-face(RepRg, "../../dist/fonts/RepRg", null, null, woff);

h1{

}

h2{
	font-size:22px;
	font-family:RepLt;
	letter-spacing:.05em;
}