@import 'modules/resets.scss';
@import 'modules/mixins.scss';
@import 'modules/colors.scss';
@import 'modules/typography.scss';

.main{

}

#List_projects{

	li.list_projects-project{
		display:block;
		width:100%;
		height:300px;
		text-align: center;
		vertical-align: middle;
		//filter: grayscale(100%);
	}
	h2.list_projects-project-name{
		vertical-align:middle;
		line-height:300px;
	}
	img.list_projects-project-img{

	}
}